@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(225, 53%, 19%);
}

::-webkit-scrollbar-thumb {
  background: hsl(225, 39%, 26%);
  border-radius: 4px;
}

nav {
  box-shadow: inset 0px 1.5px 1.5px rgba(255, 255, 255, 0.2);
}

a {
  cursor: pointer;
}

ion-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.overlay {
  box-shadow:
    0px 0px 100px theme('colors.primary-c'),
    inset 0px 0px 80px theme('colors.lighter-1');
  filter: blur(60px);
  z-index: 0;
}

.overlay::after {
  box-shadow:
    inset 0px 0px 10px #000a11,
    inset 0px 0px 30px 20px theme('colors.lighter-3');
  filter: blur(30px);
  z-index: 0;
}
.linkBtn {
  box-shadow: 0px 0px 9px 1px theme('colors.lighter-1');
}

.circle1 {
  box-shadow:
    0px 0px 35px 1px theme('colors.lighter-3'),
    inset 13px -12px 25px theme('colors.darker-3'),
    inset -10px 10px 35px 30px theme('colors.lighter-1');
}
.circle2 {
  box-shadow:
    0px 0px 20px 2px theme('colors.lighter-3'),
    inset 10px -10px 8px theme('colors.darker-3'),
    inset -2px 2px 50px 20px theme('colors.primary-c');
}

.textGlow {
  text-shadow:
    0px 1px 7px theme('colors.lighter-1'),
    1px 0px 7px theme('colors.lighter-2');
}

.card {
  left: 30rem;
  background-color: theme('colors.primary-c');
  box-shadow:
    0px 0px 20px theme('colors.lighter-1'),
    5px 5px 2px theme('colors.primary-c'),
    inset 12px 10px 50px theme('colors.darker-1'),
    inset -9px -10px 50px theme('colors.darker-1'),
    inset -5px -5px 30px theme('colors.lighter-1');
  border-radius: 0.5rem;
  transform: rotate(66deg) skew(5deg, -33deg);
}
.card1 {
  animation: card1 6s linear infinite forwards;
}
.card2 {
  animation: card2 6s linear infinite forwards;
}
.card3 {
  animation: card3 6s linear infinite forwards;
}
@keyframes card1 {
  0% {
    top: -3rem;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  7% {
    top: 1rem;
  }
  15% {
    top: 1rem;
  }
  20% {
    top: 1rem;
  }
  25% {
    top: 1rem;
  }
  30% {
    top: 1rem;
  }
  35% {
    top: 1rem;
  }
  40% {
    top: 1rem;
  }
  45% {
    top: 1rem;
    left: 27rem;
  }
  50% {
    left: 25rem;
    transform: rotate(66deg) skew(5deg, -33deg);
  }
  55% {
    transform: rotate(0) skew(0);
    left: 23rem;
    top: 1rem;
  }
  60% {
    transform: rotate(0) skew(0);
    left: 21rem;
    top: 1rem;
  }
  65% {
    transform: rotate(0) skew(0);
    left: 21rem;
    top: 1rem;
  }
  70% {
    transform: rotate(0) skew(0);
    left: 21rem;
    top: 1rem;
  }
  75% {
    transform: rotate(0) skew(0);
    top: 1rem;
    left: 21rem;
    background-color: theme('colors.darker-4');
  }
  80% {
    top: 1rem;
    left: 21rem;
  }
  85% {
    top: 1rem;
    left: 21rem;
    background-color: theme('colors.darker-4');
  }
  90% {
    transform: rotate(0) skew(0);
    left: 21rem;
    background-color: theme('colors.darker-4');
  }
  95% {
    top: 1rem;
    left: 21rem;
  }

  100% {
    transform: rotate(0) skew(0);
    left: 21rem;
    top: 1rem;
    background-color: theme('colors.darker-4');
  }
}

@keyframes card2 {
  0% {
    top: 1rem;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  10% {
    top: 1rem;
  }
  15% {
    top: 1rem;
  }
  20% {
    top: 1rem;
  }
  25% {
    top: 1rem;
  }
  30% {
    top: 1rem;
  }
  35% {
    top: 1rem;
  }

  40% {
    top: 1rem;
  }
  45% {
    top: 1rem;
    left: 30rem;
  }
  48% {
  }
  50% {
    transform: rotate(66deg) skew(5deg, -33deg);
    left: 30rem;
  }

  55% {
    transform: rotate(0) skew(0);
    left: 30rem;
    top: 1rem;
  }
  60% {
    transform: rotate(0) skew(0);

    top: 1rem;
    left: 30rem;
  }
  65% {
    transform: rotate(0) skew(0);
    left: 30rem;
  }
  70% {
    transform: rotate(0) skew(0);
    left: 30rem;
  }
  75% {
    top: 1rem;
    left: 30rem;
    background-color: theme('colors.darker-4');

    transform: rotate(0) skew(0);
  }
  80% {
    transform: rotate(0) skew(0);
    top: 1rem;
    left: 30rem;
  }
  85% {
    transform: rotate(0) skew(0);
    top: 1rem;
    left: 30rem;
  }
  90% {
    transform: rotate(0) skew(0);
    left: 30rem;
    top: 1rem;
  }

  100% {
    transform: rotate(0) skew(0);
    background-color: theme('colors.darker-4');
    left: 30rem;
    top: 1rem;
  }
}

@keyframes card3 {
  0% {
    top: 5rem;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  7% {
    top: 1rem;
  }
  20% {
    top: 1rem;
  }
  25% {
    top: 1rem;
  }
  30% {
    top: 1rem;
  }
  35% {
    top: 1rem;
  }
  40% {
    top: 1rem;
  }
  45% {
    top: 1rem;
    left: 33rem;
  }
  50% {
    left: 35rem;
    transform: rotate(66deg) skew(5deg, -33deg);
  }
  55% {
    transform: rotate(0) skew(0);
    left: 37rem;
  }
  60% {
    transform: rotate(0) skew(0);
    left: 39rem;
  }
  65% {
    transform: rotate(0) skew(0);
    left: 39rem;
  }
  70% {
    transform: rotate(0) skew(0);
    left: 39rem;
    top: 1rem;
  }
  75% {
    transform: rotate(0) skew(0);
    top: 1rem;
    background-color: theme('colors.darker-4');

    left: 39rem;
  }
  80% {
    transform: rotate(0) skew(0);
    top: 1rem;

    left: 39rem;
  }
  85% {
    transform: rotate(0) skew(0);
    top: 1rem;

    left: 39rem;
  }
  90% {
    transform: rotate(0) skew(0);
    top: 1rem;

    left: 39rem;
  }

  100% {
    transform: rotate(0) skew(0);
    left: 39rem;
    top: 1rem;
    background-color: theme('colors.darker-4');
  }
}

.cross {
  box-shadow:
    0px 0px 10px #219cf3,
    3px 3px 1px #00e9de,
    inset 10px 0px 20px #000a11,
    inset -96px -30px 100px #090912,
    inset -6px -26px 120px #0b83ff;
}
.cross::after {
  box-shadow:
    0px 0px 10px #219cf3,
    3px 3px 1px #00e9de,
    inset 10px 0px 20px #000a11,
    inset -96px -30px 100px #090912,
    inset -6px -26px 120px #0b83ff;
}

.cross::before {
  box-shadow:
    0px 0px 10px #219cf3,
    3px 3px 1px #00e9de,
    inset 10px 0px 20px #000a11,
    inset -96px -30px 100px #090912,
    inset -6px -26px 120px #0b83ff;
}
.cross-anime {
  opacity: 0;
  animation: card-anime 6s ease-out infinite forwards;
}
.cross-anime::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

@keyframes card-anime {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  40% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }

  55% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }
  73% {
    opacity: 1;
  }
  93% {
    opacity: 1;
  }
  96% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* OFFER SECTION */
.active-offer {
  transition: all 0.4s ease;
}
.active-offer {
  box-shadow:
    rgb(33, 156, 243) 0px 0px 10px,
    rgb(0, 233, 222) 3px 3px 1px,
    rgb(8, 10, 17) 10px -3px 20px inset,
    rgb(9, 9, 18) -86px -30px 100px inset,
    rgb(11, 131, 255) 60px 26px 120px inset;
}

.offer-box-line {
  transition: all 1s ease;
  box-shadow:
    0px 0px 10px #219cf3,
    3px 3px 1px #00e9de,
    -3px -3px 1px #00e9de,
    inset 10px 0px 20px #080a11,
    inset -96px -30px 100px #090912,
    inset 6px -26px 120px #0b83ff;
  opacity: 1;
  top: 100%;
}

.offer-square {
  transform: rotate(55deg) skew(0deg, -20deg);

  box-shadow:
    0px 0px 5px theme('colors.lighter-1'),
    inset 13px -15px 35px theme('colors.darker-3'),
    inset -10px 10px 30px 25px theme('colors.lighter-1');
}
.project-square {
  transform: rotate(45deg);
  background-color: theme('colors.lighter-3');
  box-shadow:
    0px 0px 15px 1px theme('colors.lighter-3'),
    2px 2px 1px theme('colors.lighter-4'),
    inset 3px -10px 14px 1px theme('colors.darker-3');
}

.offer-detail-square {
  box-shadow:
    0px 0px 7px theme('colors.lighter-1'),
    3px 3px 1px theme('colors.lighter-4');
}
.square-menu-line {
  box-shadow:
    0px 0px 10px #219cf3,
    3px 3px 1px #00e9de,
    inset 10px 0px 20px #000a11,
    inset -96px -30px 100px #090912,
    inset -6px -26px 120px #0b83ff;
}
.offer-card {
  border-radius: 10px;
  transform: rotate(60deg) skew(5deg, -33deg);
  background-color: theme('colors.darker-3');

  box-shadow:
    -1px -1px 25px 5px theme('colors.primary-c'),
    7px 7px 1px 1px theme('colors.lighter-4'),
    -1px -1px 55px theme('colors.darker-1'),
    inset 1px -1px 30px theme('colors.primary-c'),
    inset 2px 0px 15px theme('colors.darker-2');
}

.offer-card-1 {
  transform: rotate(60deg) skew(5deg, -33deg) translate(-85%, -64%) scale(0.6);
}
.offer-card-2 {
  transform: rotate(60deg) skew(5deg, -33deg) translate(-68%, -57%) scale(0.8);
}
.offer-card-3 {
  transform: rotate(60deg) skew(5deg, -33deg) translate(-50%, -50%);
}

.about-box {
  box-shadow:
    0px 0px 7px theme('colors.lighter-1'),
    2.3px 2.3px 1px theme('colors.lighter-4');
}

.border-btn {
  box-shadow:
    0px 0px 0px 1px theme('colors.lighter-1'),
    0px 0px 15px 4px theme('colors.lighter-3'),
    inset 0px 0px 20px 1px theme('colors.lighter-1');
}

/* ANIMATION FOR FAD IN and reveal on scroll  */

.fade-in {
  opacity: 0;
  transform: translateY(125px);
  transition:
    opacity 0.9s ease-in-out,
    transform 0.9s ease-in-out;
}

.fade-in-visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-animation {
  animation: fadeIn 0.7s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
